{% extends '_partial.html' %}
{% load static %}

{% block content %}

    <div class="hero-section">
      <div class="hero-content w-container">
<!--       <a href="#Latest-post" style="opacity:0" class="button w-button">View Latest Posts</a> -->
      </div>
    </div>

<!--    <div id="sidebar">
      <h2>Categories</h2>
      <div class="navlist">
        <ul>
          {% if latest_category_list %}
          {% for category in latest_category_list %}
          <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>

-->

    <div id="posts" class="main-section bottom-padding">
      <div id="Latest-post" class="w-container">
        <div class="section-heading">
          <h2 class="section-title">Featured Posts</h2>
          <div class="med-divider"></div>
        </div>
        <div class="w-dyn-list">
          <div role="list" class="w-clearfix w-dyn-items w-row">
            {% if latest_post_list %}
            {% for post in latest_post_list %}
            {% if post.featured %}
            <div role="listitem" class="featuredthumbnail w-dyn-item w-col w-col-6">
              <a href="/blog/{{ post.id }}" data-w-id="3c1b0055-dd47-cc77-5812-26c30ac7c948" class="featured-wrapper w-inline-block">
                <div>
                  <div style="background-color:{{post.category.background_color }};" class="category-tag-2">{{ post.category }}</div>
                  <div style="background-image: url({{ post.category.image.url }});" class="featured-image"></div>
                </div>
                <div class="featured-text">
                  <div class="featured-title">{{ post.title}}</div>
                  <div class="featured-description">{{ post.description }}</div>
                  <div class="featured-details">
                    <div class="w-clearfix">
                      <div class="author-title lite">{{ post.author.get_short_name }}</div>
                      <div class="thumbnail-date lite">{{ post.pub_date.date }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
          {% endif %}
          {% endfor %}
          {% else %}
          <div class="w-dyn-empty">
            <p>No items found.</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="w-container">
        <div class="section-heading">
          <h2 class="section-title">Most Recent</h2>
          <div class="med-divider"></div>
        </div>
        <div class="w-dyn-list">
          <div role="list" class="w-clearfix w-dyn-items w-row">
            {% if latest_post_list %}
            {% for post in latest_post_list %}
            {% if post.is_published %}
            <div role="listitem" class="blog-thumbnail w-dyn-item w-col w-col-4">
              <a href="/blog/{{ post.id }}" data-w-id="46150442-4efa-9d36-3a4c-20d527e7a6bc" class="thumbnail-wrapper w-inline-block">
                <div class="image-wrapper">
                  <img src="{{ post.category.image.url  }}" loading="lazy" srcset="{{ post.category.image.url  }}"   alt="" class="thumbnail-image">
                  <div style="background-color:{{post.category.background_color }};" class="category-tag">{{ post.category }}</div>
                </div>
                <div class="thumbnail-text">
                  <div class="blog-title">{{ post.title}}</div>
                  <div class="preview-text">{{ post.description }}</div>
                </div>
                <div class="thumb-details w-clearfix">
                  <div class="author-title">{{ post.author.get_short_name }}</div>
                  <div class="thumbnail-date">{{ post.pub_date.date }}</div>
                </div>
              </a>
            </div>
              {% endif %}
              {% endfor %}
              {% else %}


          </div>
          <div class="w-dyn-empty">
            <p>No items found.</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% endblock %}
