{% extends '_partial.html' %}
{% load static %}

{% block content %}

    <div class="hero-section"></div>
    <div id="posts" class="main-section bottom-padding">
      <div class="container-2 w-container">
        <div class="w-layout-grid grid">
          <div id="w-node-96d42b809cb1-9127d93c" class="div-block">
            <a href="/blog" class="link">BLOG</a>
          </div>
          <div id="w-node-be763e71a81b-9127d93c" class="div-block-2">
            <a href="/tutorials" class="link-4">TUTORIALS</a>
          </div>
          <div id="w-node-2d3b5183ab2a-9127d93c" class="div-block-3">
            <a href="#" class="link-2">PORTFOLIO</a>
          </div>
          <div id="w-node-3acc2661bb1d-9127d93c" class="div-block-4">
            <a href="#" class="link-5">ABOUT</a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
